* {margin: 0;
padding: 0;
background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
background-size: 100%;
background-attachment: fixed;
background-fit: cover;
background-repeat: no-repeat;
font-family: Bahnschrift SemiBold;}

#content-container {
text-align: center;
border-radius: 10px;
padding: 20px;
margin: auto;
background: linear-gradient(rgba(150, 10, 10, 0.5), rgba(200, 0, 0, 0.5));
box-shadow: 0 0 20px rgba(52, 152, 219, 1000);
max-width: 1000px;
margin-bottom: 50px;
font-family: 'Bahnschrift SemiBold';
position: relative;
line-height: 1.6;
z-index: 1;}

.logo { 
width: 65px;
cursor: pointer;
margin: 100 30px 0px 70px;
background: transparent;
filter:drop-shadow(0px 0px 6px
rgba(255, 213, 2, 5));
transition: filter 0.3s ease, transform 0.3s ease;
}

.logo:hover {
transform: scale(1.1);
}

.bar {
padding: 20px 0;
display: flex;
align-items: center;
justify-content: space-evenly;
background: linear-gradient(rgba(66, 12, 12, 1), rgba(176, 81, 81, 0.5));
z-index: 2; /* Ensures the nav bar is above the video */
position: relative;}

.bar ul li a {
background-color: #FFFFFF; 
padding: 8px;
border-radius: 10px;
font-family: Bahnschrift SemiBold;
font-size: 17px;
background: linear-gradient(rgba(173, 2, 2, 1), rgba(264, 2, 2, 0.5));
filter:drop-shadow(0px 0px 3px
rgba(255, 213, 2, 5));}

.bar ul li a:hover {
transition: 0.3s;
border-radius: 40% 40% 0% 0%;}

.dropdown-content {
display: none;
position: absolute;
min-width: 100px;
box-shadow: rgba(0, 0, 0, 0.2);
padding: 10px;
border-radius: 10px;
font-family: Bahnschrift SemiBold;
background: linear-gradient(rgba(150, 10, 10, 1), rgba(200, 0, 0, 0.5));
box-shadow: 0 0 10px rgba(255, 213, 2, 1);}

nav ul li a {
text-decoration: underline;
color: #fff;
font-weight: bold;
font-size: 1.2em;
display: block;
padding: 8px;
border-radius: 5px;}

.dropdown:hover 
.dropdown-content {
display: block;}

.bar ul li {
font-family: Bahnschrift SemiBold;
display: inline-block;
margin: 15px;
position: relative;}

.line::after {
content: "";
position: absolute;
background-color: White ;
height: 3px;
width: 0;
left: 0;
bottom: -10px;
transition: 0.3s;}

.line:hover::after {
width: 100%;
transition: 0.3s;}

.bar ul li a {
text-decoration: none; 
color: Yellow;}

.Pee2 {
color: white;
text-shadow: 3px 3px #023988;
font-size: 17px;
display:flex;
flex-direction: row;}

p {
background: transparent;
font-size: 30px;
text-shadow: 1px 1px #3498DB;
align: center;
padding: 14px;}}

ul {
background: transparent;
list-style: none;
padding: 0;
display: flex;
align-items: center;}

ul li {
background: transparent;
margin: 0 15px;
position: relative;}

.Pee2 {
color: white;
text-shadow: 3px 3px #023988;
font-size: 17px;
display:flex;
flex-direction: row;}

a {
background: transparent;
color: #fff;
font-weight: bold;
font-size: 1.2em;
display: block;
padding: 0px;}

p {
background: transparent;
font-size: 25px;
text-shadow: 1px 1px #3498DB;
align: center;
margin: 1px;
padding: 15px;}

ul {
background: transparent;
list-style: none;
padding: 0;
display: flex;
align-items: center;}

ul li {
background: transparent;
margin: 0 15px;
position: relative;}


.btn { 
font-family: "carlito";
font-size: 20px; 
font-weight: bold;
background: #420c0c;
padding: 25px;
border-radius: 10px;
color: white;
max-width: 8%;
margin-left: 90px;
text-decoration: none;
cursor: pointer;
transition: 0.5s;
text-shadow: 1px 1px 1px black;
transition: filter 0.3s ease, transform 0.3s ease;
}

.btn:hover{
background-color: rgb(248, 170, 1);
color: #420c0c;
text-shadow: 1px 1px 1px white;
transform: scale(1.1)}

h1 {font-size: 55px;
margin-bottom: 15px;
color: #023988>;
font-family: Bahnschrift SemiBold;
background: transparent;
align: center;
text-shadow: 3px 3px 5px red;}


.single-image, .stacked-images img {
width: 115px;
height: auto;
margin: auto;
filter: drop-shadow(2px 2px 1px
rgba(64, 224, 208, 5));}

.stacked-images {
display: flex;
flex-direction: column;
gap: 10px;
margin: auto;
background: transparent;}

.stacked {
align-self: center;
margin: auto;}


img {
background: transparent;}

a {
background: transparent;
color: #fff;
font-weight: bold;
font-size: 1.2em;
display: block;
padding: 0px;}

.Pee {
color: white;
text-shadow: 3px 3px yellow;
font-family: serif sans;}

.Pee2 {
color: white;
text-shadow: 3px 3px #023988;
font-size: 17px;
display:flex;
flex-direction: row}

p a:link {
color: White; text-shadow: 3px 3px #023988;}

p a:visited {color: Dark Blue;}

p a:hover {
color: #023988; text-shadow: 2px 2px White;}

p a:active {color: Red;}

.cover {
display: none;}


.container {
padding: 2rem;
background: transparent;
display: flex;
align-items: center;
gap: 20px;}

.sliderwrap {
position: relative;
max-width: 1050px;
margin: 0 auto;
border: 2px solid #ccc;}

.slider {
 display: flex;
aspect-ratio: 17 / 9;
overflow-x: auto;
scroll-snap-type: x mandatory;
scroll-behavior: smooth;
box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
border-radius: 0.5rem;
scrollbar-width: none;}

.slider img {
flex: 1 0 100%;
scroll-snap-align: start;
object-fit: fill;}

.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
transform: translateY(-50%);
width: auto;
padding: 16px;
color: white;
font-weight: bold;
font-size: 24px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
background-color: rgba(0,0,0,0.5);
border: 2px solid #fff;
background: transparent;}


.next {
right: 0;
border-radius: 3px 0 0 3px;}

.prev {
left: 0;
border-radius: 3px 0 0 3px;}

.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);}


.videobck {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
min-width: 120%;
min-height: 120%;
width: auto;
height: auto;
background-size: cover;
margin: auto;}

.video-background {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
overflow: hidden;
z-index: -1;}

.intro {
color: white;
width: 100%;
position: absolute;
text-align: left;
top: 50%;
transform: translateY(-50%);
background: transparent;}

.intro h1 {
font-size: 50px;
margin-left: 80px;
text-shadow: 4px 4px 1px #420C0C;}

.intro p1 {
font-size: 20px;
margin-left: 85px;
background: transparent;
text-shadow: 2px 2px #420C0C;}

.highlight {
position: relative;
background: linear-gradient(rgba(63, 19, 17, 0.9), rgba(173, 137, 137, 0.3));
top: 100%;
height: 100%;
width: 100%;
background-size: cover;}

#high {
height: 270px;
padding: 30px;}

.introboi {
font-size: 50px;
font-family: serif;
font-weight: 100;
text-align: center;
position: relative;
letter-spacing: 1;}

.introboi::before{
content:"";
display: block;
width: 23%;
height: 2px;
position: absolute;
background: #000;
left: 0;
top: 50%;}

.introboi::after{
content:"";
display: block;
width: 23%;
height: 2px;
position: absolute;
background: #000;
right: 0;
top: 50%;}

.parallax {
background-image: url("Home Media/skul.png");
min-height: 900px; 

background-position: center;
background-repeat: repeat;
background-size: cover;}


.h11 {
font-size: 50px;
text-align: left;
margin: 10px;
padding: 50px;
font-family: Mongolian Baiti;
font-weight: 100;
letter-spacing: 10;}

.main-footer1 {
background: rgba(0, 0, 0, 0.5);
color: white;
display: flex;
flex-direction: column;
align-items: center;}

.main-footer {
background-color: #3f1311;
color: white;
padding: 10px 10px;
align-items: center;}

.upper-footer {
width: 90%;
padding-top: 20px;
background: transparent;
align-items: center;}

.upper-content {
display: flex;
justify-content: space-around;
align-items: center;
width: 100%;
background: transparent;}

.model-pic {
width: 300px;
height: auto;
margin: auto;
border-radius: 8px;
background: transparent;}

.help-text {
max-width: 60%;
text-align: left;
background: transparent;}

.help-text h3, .help-text p {
font-size: 1.5rem;
text-shadow: 2px 2px 4px blue;
background: transparent;}

.buttons-container {
display: flex;
gap: 15px;
background: transparent;}

.footer-btn {
background-color: blue;
color: white;
padding: 12px 24px;
border-radius: 5px;
text-decoration: none;
transition: all 0.3s ease;}

.footer-btn:hover {
transform: scale(1.1);
background-color: #0056b3;}

.footer-btn:active {
box-shadow: 0 0 8px #ffeb3b;}

.lower-footer {
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
gap: 20px;
text-align: center;
background: transparent;}

.social-media-links {
width: 100%;
max-width: 100px;
display: flex;
flex-direction: row;
bottom: 0px;
left: 30px;
background: transparent;
position: absolute;}

.social-icon {
filter: grayscale(100%);
transition: filter 0.3s ease, transform 0.3s ease;
object-fit: contain;
width: 50px;
height: 50px;
border-radius: 15px;
background-color: white;
border: 0.3rem solid transparent;}

.branch-info {
display: flex;
justify-content: flex-start;
width: 100%;
right: 10px;
background: transparent; 
margin-top: 20px;}

.branch-info .branch {
background: transparent;}

.branch-info .school-address {
font-size: 1rem;
justify-content: flex-sart;
background: transparent;}


.social-icon:hover {
filter: grayscale(0);
transform: scale(1.1);}

.school-address {
border-top: 4px dashed #ffeb3b;
padding-top: 10px;
background: transparent;}

.school-info {
justify-content: flex-start; 
}

.text-container {
display: flex;
justify-content: space-between;
align-items: flex-start; 
width: 100%;
background: transparent;}

.left-text {
margin-top: 30px;
background: transparent;}

.right-texts {
display: flex;
flex-direction: column;
align-items: center;
background: transparent;}

h3 {
background: transparent;}

.left-text .school-name {
font-size: 40px;
margin-top: -15px;
margin-bottom: -20px;
text-shadow: 2px 2px 1px #420C0C;
background: transparent;}

.logo1 { 
width: 65px;
margin-top: 15px;
margin-right: -375px;
margin-left: 20px;
background: transparent;
filter:drop-shadow(0px 0px 6px
rgba(255, 213, 2, 5));}

.bn4 {
background-color: #ffffff;
border: none;
color: Yellow;
padding: 0.7em 1.2em;
margin-bottom: 15px;
text-align: center;
font-size: 15px;
transition: 0.3s;
text-decoration: none;
cursor: pointer;
transition: filter 0.3s ease, transform 0.3s ease;
border-radius: 15px;
background-color: Transparent;
border: 0.3rem solid White;}

.bn4:hover {
opacity: 1;
transform: scale(1.1);
color: rgba(63, 19, 17, 1);
background-color: Yellow;
}

.partners {
background-color: rgba(0, 0, 0, 0.5);
text-align: center;
}

.partners h1 {
font-family: 'Oswald';
}

.partners img {
height: 100px;
margin: 30px 10px;
filter:drop-shadow(1px 1px 2px
rgba(0, 0, 0, 1000));
}

.two-color-box {
background: linear-gradient(to right, #3F1210 50%, #001C3F 50%);
padding: 20px;
color: white;
display: flex;
margin: 0 10%;
border-radius: 10px;
}
.tag, .pas {
font-family: 'Oswald';
width: 50%; 
}

.pas {
text-align: left; 
margin-left: 30px;

}

.branch p {
text-shadow: 1px 1px blue;}

.two-color-box {
  background: linear-gradient(to right, #3F1210 50%, #001C3F 50%);
  padding: 20px;
  color: white;
  display: flex;
  margin: 0 10%;
  border-radius: 10px;
}

.tag,
.pas {
  font-family: 'Oswald';
  width: 50%;
  background: Transparent;}

.pas {
text-align: left;
margin-left: 47px;
background: Transparent;}

.pass {
margin-left: 23px;
}

@media screen and (max-width: 768px) {
  .two-color-box {
    flex-direction: column;
  }
}

.btn1 {
  background-color: gray;
  color: dark red;
  padding: 1% 4%;
  border-radius: 5px;
  text-decoration: none;
}

.btn2 {
  background-color: gray;
  padding: 1% 4%;
  border-radius: 5px;
  text-decoration: none;
}

.btn3 {
  background-color: gray;
  padding: 1% 4%;
  border-radius: 5px;
  text-decoration: none;}

.btn4 {
  background-color: gray;	
  padding: 1% 4%;
  border-radius: 5px;
  text-decoration: none;}

.btn1:hover {
  background-color: #FFA900;
}

.btn2:hover {
  background-color: #FFA900;
}

.btn3:hover {
  background-color: #FFA900;}

.btn4:hover {
  background-color: #FFA900;
}





