* {margin: 0;
padding: 0;
background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
background-size: 100%;
background-attachment: fixed;
background-fit: cover;
background-repeat: no-repeat;
font-family: Bahnschrift SemiBold;}

#content-container {
text-align: center;
border-radius: 10px;
padding: 20px;
margin: auto;
background: linear-gradient(rgba(66, 12, 12, 1), rgba(176, 81, 81, 0.5));
box-shadow: 0 0 20px rgba(52, 152, 219, 1000);
max-width: 1200px;
margin-bottom: 50px;
font-family: 'Bahnschrift SemiBold';
position: relative;
line-height: 1.6;
z-index: 1;}

.logo { 
width: 65px;
cursor: pointer;
margin: 100 30px 0px 70px;
background: transparent;
filter:drop-shadow(0px 0px 6px
rgba(255, 213, 2, 5));}

.bar {
padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(rgba(66, 12, 12, 1), rgba(176, 81, 81, 0.5));
    z-index: 2; /* Ensures the nav bar is above the video */
    position: relative;}

.bar ul li a {
background-color: #FFFFFF; 
padding: 8px;
border-radius: 10px;
font-family: Bahnschrift SemiBold;
font-size: 17px;
background: linear-gradient(rgba(173, 2, 2, 1), rgba(264, 2, 2, 0.5));
filter:drop-shadow(0px 0px 3px
rgba(255, 213, 2, 5));}

.bar ul li a:hover {
transition: 0.3s;
border-radius: 40% 40% 0% 0%;}

.dropdown-content {
display: none;
position: absolute;
min-width: 100px;
box-shadow: rgba(0, 0, 0, 0.2);
z-index: 2;
background:transparent; 
padding: 10px;
border-radius: 10px;
font-family: Bahnschrift SemiBold;
background: linear-gradient(rgba(173, 2, 2, 1), rgba(264, 2, 2, 0.5));
filter:drop-shadow(0px 0px 3px
rgba(255, 213, 2, 5));}

nav ul li a {
text-decoration: underline;
color: #fff;
font-weight: bold;
font-size: 1.2em;
display: block;
padding: 8px;
border-radius: 5px;}

.dropdown:hover 
.dropdown-content {
display: block;
background-color: black; }

.bar ul li {
font-family: Bahnschrift SemiBold;
display: inline-block;
margin: 15px;
position: relative;}

.line::after {
content: "";
position: absolute;
background-color: White ;
height: 3px;
width: 0;
left: 0;
bottom: -10px;
transition: 0.3s;}

.line:hover::after {
width: 100%;
transition: 0.3s;}

.bar ul li a {
text-decoration: none; 
color: Yellow;}


.btn { 
font-family: "carlito";
font-size: 20px; 
font-weight: bold;
background: #420c0c;
padding: 25px;
border-radius: 10px;
color: white;
max-width: 8%;
margin-left: 90px;
text-decoration: none;
cursor: pointer;
transition: 0.5s;
text-shadow: 1px 1px 1px black;}

.btn:hover{
background-color: rgb(248, 170, 1);
color: #420c0c;
text-shadow: 1px 1px 1px white;}
  
h1 {font-size: 55px;
margin-bottom: 15px;
color: #023988>;
font-family: Bahnschrift SemiBold;
background: transparent;
align: center;
text-shadow: 3px 3px 5px #3498DB;}

p {
background: transparent;
font-size: 30px;
text-shadow: 1px 1px #3498DB;
align: center;
padding: 14px;}

ul {
background: transparent;
list-style: none;
padding: 0;
display: flex;
align-items: center;}

ul li {
background: transparent;
margin: 0 15px;
position: relative;}

.AsicSponsors {
background: transparent;
display: flex;
flex-direction: column;
width: 129px;
filter: drop-shadow(2px 2px 0px
rgba(255, 255, 255, 5));}

img {
background: transparent;}

a {
background: transparent;
color: #fff;
font-weight: bold;
font-size: 1.2em;
display: block;
padding: 0px;}

.Pee {
color: white;
text-shadow: 3px 3px #023988;
font-family: serif sans;}

.Pee2 {
color: white;
text-shadow: 3px 3px #023988;
font-size: 17px;
display:flex
flex-direction: row;}

.Tedsa {
background: transparent;
display: flex;
flex-direction: column;
width: 145px;
filter: drop-shadow(1px 2px 1px
rgba(64, 224, 208, 5));}

p a:link {
color: White; text-shadow: 3px 3px #023988;}

p a:visited {color: Dark Blue;}

p a:hover {
color: #023988; text-shadow: 2px 2px White;}

p a:active {color: Red;}

.cover {
display: none;}


.container {
padding: 0rem;
background: transparent;}

.sliderwrap {
position: relative;
max-width: 1050px;
margin: 0 auto;
border: 2px solid #ccc;}

.slider {
 display: flex;
    aspect-ratio: 17 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
    scrollbar-width: none;}

.slider img {
flex: 1 0 100%;
scroll-snap-align: start;
object-fit: fill;}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 24px; /* Larger font size for visibility */
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0,0,0,0.5); /* Semi-transparent black background */
    border: 2px solid #fff; /* White border for contrast */
	background: transparent;
}


.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8); /* Darker on hover for better visibility */
}


.videobck {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background-size: cover;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Ensures the video stays in the background */
}

.intro {
    color: white;
    width: 100%;
    position: absolute;
    text-align: left;
    top: 50%;
    transform: translateY(-50%);
	background: transparent;
    
}

.intro h1 {
    font-size: 50px;
    margin-left: 80px;
	text-shadow: 4px 4px 1px #420C0C;
    
}

.intro p1 {
    font-size: 20px;
    margin-left: 85px;
	background: transparent;
	text-shadow: 2px 2px #420C0C;
}

.highlight {
    position: relative;
    background: linear-gradient(rgba(173, 2, 2, 0.5), rgba(264, 2, 2, 0.3));
    top: 100%;
    height: 100%;
    width: 100%;
    background-size: cover;
}

#high {
    height: 270px;
    padding: 30px;
    
}

.introboi {
    font-size: 50px;
    font-family: serif;
    font-weight: 100;
    text-align: center;
    position: relative;
    letter-spacing: 1;
    
}

.introboi::before{
    content:"";
    display: block;
    width: 23%;
    height: 2px;
    position: absolute;
    background: #000;
    left: 0;
    top: 50%;
    
}

.introboi::after{
    content:"";
    display: block;
    width: 23%;
    height: 2px;
    position: absolute;
    background: #000;
    right: 0;
    top: 50%;
    
}

.parallax {
   background-image: url("https://i.imgur.com/YAKfPI5.jpg");
  min-height: 400px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.h11 {
    font-size: 50px;
    text-align: left;
    margin: 10px;
    padding: 50px;
    font-family: Mongolian Baiti;
    font-weight: 100;
    letter-spacing: 10;
}

